services:
  grit-1:
    image: grit
    ports:
      - "8081:8000"
      - "8002:8001"
    environment:
      RAFT_ID: "1"
      RAFT_PEERS: "1:grit-1:8001,2:grit-2:8001,3:grit-3:8001"
  grit-2:
    image: grit
    ports:
      - "8082:8000"
      - "8003:8001"
    environment:
      RAFT_ID: "2"
      RAFT_PEERS: "1:grit-1:8001,2:grit-2:8001,3:grit-3:8001"
  grit-3:
    image: grit
    ports:
      - "8083:8000"
      - "8004:8001"
    environment:
      RAFT_ID: "3"
      RAFT_PEERS: "1:grit-1:8001,2:grit-2:8001,3:grit-3:8001"
