name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        file: ./docker/Dockerfile
        tags: grit:${{ github.sha }}
